<div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="query" placeholder="Enter repo name">
      <button mat-button matSuffix (click)="searchRepos()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  
  <div *ngIf="searchRes" class="results-container">
    <div *ngFor="let item of searchRes.items" class="result-item">
      <div class="avatar-container">
        <img [src]="item.owner.avatar_url" class="avatar">
      </div>
      <div class="details">
        <div class="name">{{ item.name }}</div>
        <div class="username">{{ item.owner.login }}</div>
        <button mat-raised-button (click)="bookMark(item)" [color]="item.isBookMark == true?'primary':'accent'">{{item.isBookMark?'UnBookmark':'Bookmark'}}</button>
      </div>
    </div>
  </div>
  